<h1>My Products</h1>

<div>{{newProductName}}</div>

<input *ngIf="!isDisabled" type="text" [(ngModel)]="newProductName" />

<button
  (click)="newProductName = 'Another Tree'"
  [disabled]="isDisabled">Change Name</button>

<button
  (click)="onAddProduct()" >Add Product</button>

<div *ngFor="let product of products">{{product}}</div>

<app-product
  *ngFor="let product of products"
  [productName]="product"
  (productClicked)="onRemoveProduct(product)"
  ></app-product>
